<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Widget Rumah Murah Berkualitas Jawara Corp</title>
    <link rel="shortcut icon" href="./gambarIndex/icon/JAWARA-icon-small.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="widgetcss/mobirise/style.css"> 
    <link rel="stylesheet" href="widget.css"> 
    <link rel="stylesheet" href="widgetcss/css/mobirise-icons.css"> 
    <link rel="stylesheet" href="widgetcss/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="blogcss/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>

    <!--navbar-->
    <nav class="navbar navbar-expand-xl navbar-light">
        <div class="navbar-brand">
            <a href=".index1.html" class="navbar-logo"><img src="https://jawaracorpo.com/assets/images/logo.png" alt="Explore Your System with Us" title="Explore Your System with Us"></a> 
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger-icon"></div>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">  
                <a style="color: white; width: fit-content;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-coffee" ></span>&nbsp;ON JOSS
                </a>
                    <div class="dropdown">
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">WJOSS Marketplace</a>
                        <a class="dropdown-item" href="#">Team JOSS</a>
                        <a class="dropdown-item" href="#">Force Link</a>
                        <a class="dropdown-item" href=""> User JOSS</a>
                        <a class="dropdown-item" href="#">Rumah Murah Berkualitas Jawara Corp</a>
                        <a class="dropdown-item" href="#">cakroden.com</a>
                        <a class="dropdown-item" href="#">wimapu.com</a>
                        <a class="dropdown-item" href="">vilbupin.com</a>
                        <a class="dropdown-item" href="#">Batu Top View</a>
                        <a class="dropdown-item" href="#">Jawara Land</a>
                        <a class="dropdown-item" href="#">Jawara Boulevard</a>
                        </div>
                    </div>
                </li>&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">
                        <span class="fa fa-info-circle"></span>&nbsp; Tentang
                    </a>
                </li>&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">
                        <span class="fa fa-phone"></span>&nbsp; Kontak   
                    </a>
                </li>&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">
                        <span class="fa fa-clipboard"></span>&nbsp; Gallery
                    </a>
                </li>&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">
                        <span class="far fa-clone"></span>&nbsp;  Widget
                    </a>
                </li>&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">
                        <span class="fa fa-globe"></span>&nbsp;  Blog
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--endnavbar-->

    <!--body-->
    <div class="background">
        <div class="isian">
            <h1>WIDGET KALKULASI KPR</h1>
            <h6>Pasang Widget Kalkulator KPR ini di web anda</h6>
            <div class="container">
                <div class="row">
                    <!-- <div class="col-12"> -->
                        <div class="col-sm-4">
                            <p>Tampilan Widget Kalkulator KPR</p>
                            <div class="background-kalkulator">
                                <div class="kalkulator">
                                    <div class="roundbox" style="background-color:#FCFCFC;padding:4px;border:1px solid #D6D6D6;margin-top:8px;">
                                        <form name="form1" method="get" action="">
                                        <div><img src="https://jawaracorpo.com/assets/images/JAWARA-corporate-LOGO.jpg" style="float:left; width:20px; height:20px; border-radius: 50%; margin: 5px 0px 0px 5px;"> <div style="float:left; margin: 8px; font-weight:bold;">Perhitungan KPR:</div></div>
                                        <div style="clear:both;"></div>
                                                <table style="font-size:12px; border-radius: 5px;" cellspacing="0" cellpadding="3" border ="0">
                                                    <tbody><tr>
                                                        <td style="white-space:nowrap;padding-bottom:5px;">Harga rumah</td>
                                                        <td><b>Rp.</b></td>
                                                        <td>
                                                            <input type="text" style="width:80px; height: 25px;  margin-left:5px"></input>
                                                            <!-- <input type="text" name="pay_total" id="pay_total" class="form-control" value="" style="width:80px; height: 30px; margin-left:-5px"> -->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="white-space:nowrap;padding-bottom:5px;">Uang muka</td>
                                                        <td><b>Rp.</b></td>
                                                        <td>
                                                            <input type="text" style="width:80px; height: 25px;  margin-left:5px"></input>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="white-space:nowrap;">Waktu kredit</td>
                                                        <td style="white-space:nowrap;"></td>
                                                        <td>
                                                            <input type="text" style="width:80px; height: 25px; margin-left:5px"></input>
                                                            <b>tahun</b>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="white-space:nowrap;">Bunga bank</td>
                                                        <td style="white-space:nowrap;"></td>
                                                        <td>
                                                            <input type="text" style="width:80px; height: 25px;  margin-left:5px"></input>
                                                            <b>%</b>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
                                        
                                                <div style="margin:6px;margin-left:3px;">
                                                    <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-sm btn-secondary">                  
                                                </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8" style="margin-top: 20px;">
                            <p>Klik Copy dan Paste Code ini di web anda</p>
                            <div class="input-group" style="width: 700px;">
                                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2">
                                <!--<iframe style="background-color: #f6f9fc;" src="https://jawaracorpo.com/widget-kpr-jawara-corporation.php" width="250" height="220" frameborder="0" scrolling="auto"></iframe>-->
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2" style="color: white; background-color: #ff8787;">
                                        <i class="far fa-clone"></i>
                                        Copy</span>
                                </div>
                            </div> 
                            <p>Customise desain Widget</p>
                            <a>Untuk tampilan widget Kalkulator KPR ini agar terlihat bagus di web anda, lakukan edit pada attribut : width="250" dan height="220", ganti nilainya sesuai dengan tempilan desain web anda. </a>
                            <br><br>
                            <h5>Note :</h5>
                            <p>Hasil Hitungan tiap-tiap bank bisa berbeda-beda. Perhitungan ini sifatnya hanya simulasi saja. Silakan hubungi pemberi kredit, untuk lebih jelasnya. </p>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>


    <!--endbody-->

    <!--map-->
    <div class="map">
        <div class="row">
            <div class="col-3">
                <i class="fas fa-home" style="color: white;"></i>
                <a style="font-size: medium; color: white; font-weight: bolder;">Address</a><br><br>
                <a class="pt" style = "font-size: small; color: white; font-weight: bolder;">JawaraCorporation :</a><br>
                <a class="alamat" style = "font-size: small; color: white;">Ruko Pesanggrahan Pratama Blok B-6
                    Jl. Panglima Sudirman - Karangploso - Malang.
                    East Java.
                    Indonesia.
                    Kode Pos 65152</a><br><br><br>
                <i class="far fa-clock" style="color: white;"></i>
                <a style="font-size: medium; color: white; font-weight: bolder;">Opening hour</a><br><br>
                <a class="alamat" style = "font-size: small; color: white;">08:30:00 - 16:30:00</a>
            </div>
            <div class="col-3" >
                <i class="far fa-comment-alt" style="color: white;"></i>
                <a style="font-size: medium; color: white; font-weight: bolder;">Link</a><br><br>
                <ul>
                    <li class="" style="color:#ffa8a8;">
                        <span class="fa fa-phone" style="color: white;"></span> &nbsp;
                        <a class="text-white" href="tel:+6282336483333" title="Telepon kami +6282336483333">+6282336483333</a>
                    </li>
        
                    <li class="" style="color:#ffa8a8;">
                        <span class="fa fa-home" style="color: white;"></span> &nbsp;
                        <a class="text-white">+62341 - 461555</a>
                    </li>
        
                    <li class="" style="color:#ffa8a8;">
                        <span class="fa fa-envelope-square" style="color: white;"></span> &nbsp;
                        <a class="text-white" href="mailto:joss@jawaracorpo.com" title="kirim email ke joss@jawaracorpo.com"><span itemprop="email">joss@jawaracorpo.com</span></a>
                    </li>
        
                    <li class="" style="color:#ffa8a8;">
                        <span class="fa fa-home" style="color: white;"></span> &nbsp;
                        <a class="text-white" href="https://jawaracorpo.com/pricelist-rumah-murah" title="Pricelist Rumah Murah">Pricelist Rumah Murah</a>
                    </li>
        
                    <li class="" style="color:#ffa8a8;">
                        <span class="fa fa-home" style="color: white;"></span> &nbsp;
                        <a class="text-white" href="https://jawaracorpo.com/Rumah-Murah-di-Malang.html" title="Pricelist Rumah Murah">Rumah Murah Malang</a>
                    </li>
        
                    <li class="" style="color:#ffa8a8;">
                        <span class="fa fa-star" style="color: white;"></span> &nbsp;
                        <a class="text-white" href="https://jawaracorpo.com/force-link" title="FORCE LINK">FORCE LINK</a>
                    </li>
                    <li >
                        <a href="https://www.facebook.com/jawaracorpo/" title="ikuti kami https://www.facebook.com/jawaracorpo/">
                            <span class="fab fa-facebook" style="color: white;"></span>
                        </a>&nbsp;&nbsp;&nbsp;
        
                        <a href="https://twitter.com/JawaraCorporat1" title="ikuti kami https://twitter.com/JawaraCorporat1">
                            <i class="fab fa-twitter"></i>
                        </a>&nbsp;&nbsp;&nbsp;
        
                        <a href="https://www.youtube.com/channel/UC2yRbZFK53vtXy7ZL04sDsA/" title="ikuti kami https://www.youtube.com/channel/UC2yRbZFK53vtXy7ZL04sDsA/">
                            <i class="fab fa-youtube" style="color: white;"></i>
                        </a>&nbsp;&nbsp;&nbsp;
        
                    </li>
        
                </ul>
            </div>
            <div class="col-6"><br><br><br>
               <i class="fas fa-globe" style="color: white;"></i>
                <a style="font-size: medium; color: white; font-weight: bolder;">Google Map : Office</a><br><br>
                <div class="mbr-map">
                    <a href="https://www.google.com/maps/dir//Perumahan+Pesanggrahan+Pratama,+Jl.+Panglima+Sudirman,+Karangploso,+Girimoyo,+Karangploso,+Malang,+East+Java+65152/@-7.887808,112.60389,52940m/data=!3m1!1e3!4m9!4m8!1m0!1m5!1m1!1s0x2e7881b8fd773fd1:0xd2930e9a3a3546f2!2m2!1d112.5920403!2d-7.8967542!3e0?hl=en-US" title="Klik Peta Kantor pusat Rumah Murah Berkualitas Jawara Corp" target="_blank" rel="nofollow"><img src="https://jawaracorpo.com/assets/images/jawara-corpo-mapping.jpg" alt="jawara-corpo-mapping.jpg" style="width:100%;"></a>
                </div>
            </div>
        </div>
    </div>
    <!--map-->

    <!--footer-->
    <footer style="align-items: center;">
        <div class="judul-kategori">Kategori
        </div><br><br>

        <p class="tulisan-footer" style="text-align:justify!important">        	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Ulasan-Produk/" title="Ulasan Produk">
                                      
						Ulasan Produk <small style="color:#d0d0d0;"> <strong>68</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Tips-dan-Trik/" title="Tips dan Trik">
                                      
						Tips dan Trik <small style="color:#d0d0d0;"> <strong>36</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Teknologi-dan-Dunia-Digital/" title="Teknologi dan Dunia Digital">
                                      
						Teknologi dan Dunia Digital <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Sosial-Budaya/" title="Sosial Budaya">
                                      
						Sosial Budaya <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Seputar-Olahraga/" title="Seputar Olahraga">
                                      
						Seputar Olahraga <small style="color:#d0d0d0;"> <strong>3</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Sepak-Bola/" title="Sepak Bola">
                                      
						Sepak Bola <small style="color:#d0d0d0;"> <strong>12</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Rumah-Murah/" title="Rumah Murah">
                                      
						Rumah Murah <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Rumah-dan-Keluarga/" title="Rumah dan Keluarga">
                                      
						Rumah dan Keluarga <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Ragam-Daftar/" title="Ragam Daftar">
                                      
						Ragam Daftar <small style="color:#d0d0d0;"> <strong>2</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Progres/" title="Progres">
                                      
						Progres <small style="color:#d0d0d0;"> <strong>46</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Perumahan/" title="Perumahan">
                                      
						Perumahan <small style="color:#d0d0d0;"> <strong>4</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Pendidikan/" title="Pendidikan">
                                      
						Pendidikan <small style="color:#d0d0d0;"> <strong>4</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Jawara-Cyber-Partner/" title="Jawara Cyber Partner">
                                      
						Jawara Cyber Partner <small style="color:#d0d0d0;"> <strong>3</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Inspirasi-dan-Motivasi/" title="Inspirasi dan Motivasi">
                                      
						Inspirasi dan Motivasi <small style="color:#d0d0d0;"> <strong>1</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Information/" title="Information">
                                      
						Information <small style="color:#d0d0d0;"> <strong>16</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/General/" title="General">
                                      
						General <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Feng-Shui/" title="Feng Shui">
                                      
						Feng Shui <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Economic-Portal/" title="Economic Portal">
                                      
						Economic Portal <small style="color:#d0d0d0;"> <strong>3</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Desain-Rumah/" title="Desain Rumah">
                                      
						Desain Rumah <small style="color:#d0d0d0;"> <strong>13</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Desain-Interior/" title="Desain Interior">
                                      
						Desain Interior <small style="color:#d0d0d0;"> <strong>102</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Desain-Eksterior/" title="Desain Eksterior">
                                      
						Desain Eksterior <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Berita-Jawara/" title="Berita Jawara">
                                      
						Berita Jawara <small style="color:#d0d0d0;"> <strong>13</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Artikel-Rumah/" title="Artikel Rumah">
                                      
						Artikel Rumah <small style="color:#d0d0d0;"> <strong>158</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Agama/" title="Agama">
                                      
						Agama <small style="color:#d0d0d0;"> <strong>4</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori//" title="">
                                      
						 <small style="color:#d0d0d0;"></small>
                    
                    </a><br><br>
        </p><br><br>
        <div class="judul-service">Terms of Service</div><br>
        <div class="copyright">
            <a style="margin-left: 370px;">Copyright© Jawara Corporation September - 2017</a>
        </div>
        <div class="navbar-brand">
            <a href="..index1.html" class="navbar-logo">
                <img src="https://jawaracorpo.com/assets/images/logo.png" alt="Explore Your System with Us" title="Explore Your System with Us"></a> 
        </div>
    </footer>
    <!--footer-->
    
</body>
</html>