html{
    font-family: Verdana,sans-serif;
}

/*navbar*/
.navbar-light{
    background-color: #441111;  
}

.nav-item{
    color: white;
}

#navbarDropdown{
    color: white;
}

.dropdown{
    color: white;
}

.navbar-collapse{
    margin-left: 450px;

}
/*end-navbar*/

/*body*/
.background{
    background-image: url('gambar/desert-dunes.jpg');
}

.isian{
    background-color: rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: Arial;
}

.isian h1{
    font-weight: bold;
    text-align: center;
    color: white;
}

.itungan{
    background-color: rgba(255, 255, 255, 0.3);
}

.background-kalkulator{
    background-color: rgba(255, 255, 255, 0.3);
}

/*endbody*/


/*map*/

.map{
    background-image: url(/gambarRumah/wijaya-kusuma-kepuharjo-malang2.jpg);
}

.map .row{
    background-color: rgba(0, 0, 0, 0.85);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 180px;
    padding-right: 180px;
    margin-bottom: 30px;
}

.map .row .col-3{
    padding-right: 30px;
    font-size: small;
}

.map .row .col-6{
    padding-left: 30px;
}

.map .row .col-3 .fa-comment-alt{
    padding-left: 30px;
}

.map .row .col-3 .alamat{
    padding-bottom: 30px;
}

/*footer*/
footer{
    background-color: rgba(0, 0, 0, 0.85);
    padding-bottom: 50px;
    padding-top: 30px;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
}

footer .judul-kategori{
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    font-family: "Lora";
    line-height: 26px;
    float:left;
    color:#ffa8a8;
    margin-left: 520px;
}

footer .tulisan-footer a{
    display: block;
    font-weight: 400;
    font-size: 12px;
    font-family: "Verdana";
    line-height: 26px;
    float:left;
    color:#ffa8a8;
    padding-bottom: 30px;
}

footer .judul-service{
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    font-family: "Lora";
    line-height: 26px;
    float:left;
    color:#ffa8a8;
    text-align: center;
    margin-left: 490px;
    margin-top: 50px;
}

footer .copyright a{
    margin-top: 20px;
    padding-right: 200px;
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    font-family: "Lora";
    line-height: 26px;
    float:left;
    color:#d8dee9;
}

footer .navbar-brand{
    padding-top: 30px;
}

footer .navbar-brand a{
    align-items: center;
    padding-left: 450px;
}
