<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Rumah Murah Berkualitas Jawara Corp</title>
    <link rel="shortcut icon" href="./gambarIndex/icon/JAWARA-icon-small.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="blogcss/mobirise/style.css"> 
    <link rel="stylesheet" href="blog.css"> 
    <link rel="stylesheet" href="blogcss/css/mobirise-icons.css"> 
    <link rel="stylesheet" href="blogcss/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="blogcss/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    -->
</head>
<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-xl navbar-light">
        <div class="navbar-brand">
            <a href=".../inde" class="navbar-logo"><img src="https://jawaracorpo.com/assets/images/logo.png" alt="Explore Your System with Us" title="Explore Your System with Us"></a> 
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger-icon"></div>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">  
                <a style="color: white; width: fit-content;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-coffee" ></span>&nbsp;ON JOSS
                </a>
                    <div class="dropdown">
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">WJOSS Marketplace</a>
                        <a class="dropdown-item" href="#">Team JOSS</a>
                        <a class="dropdown-item" href="#">Force Link</a>
                        <a class="dropdown-item" href=""> User JOSS</a>
                        <a class="dropdown-item" href="#">Rumah Murah Berkualitas Jawara Corp</a>
                        <a class="dropdown-item" href="#">cakroden.com</a>
                        <a class="dropdown-item" href="#">wimapu.com</a>
                        <a class="dropdown-item" href="">vilbupin.com</a>
                        <a class="dropdown-item" href="#">Batu Top View</a>
                        <a class="dropdown-item" href="#">Jawara Land</a>
                        <a class="dropdown-item" href="#">Jawara Boulevard</a>
                        </div>
                    </div>
                </li>&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">
                        <span class="fa fa-info-circle"></span>&nbsp; &nbsp; Tentang
                    </a>
                </li>&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">
                        <span class="fa fa-phone"></span>&nbsp; &nbsp;  Kontak   
                    </a>
                </li>&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">
                        <span class="fa fa-clipboard"></span>&nbsp; &nbsp;  Gallery
                    </a>
                </li>&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">
                        <span class="fa fa-copy"></span>&nbsp; &nbsp;  Widget
                    </a>
                </li>&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">
                        <span class="fa fa-globe"></span>&nbsp; Blog
                    </a>
                </li>&nbsp;&nbsp;&nbsp;
            </ul>
        </div>
    </nav>
    <!--navbar-->

    <div class="isian">
        <div class="judul">
            <h1>Blog Rumah Murah Berkualitas Jawara Corp</h1>
            <h5>ini tulisan berjalan</h5>
        </div>
        <div class="background-gelap">
            <form class="form-inline">
                <h6>Isikan kata yang data cari</h6> 
                <label class="form-control" type="search" placeholder="Search" aria-label=""></label>
            </form>
            <div class="input-group">
                <h6>Pilih Kategori</h6>
                <select class="col-sm-4" id="inputGroupSelect04">
                    <option selected>Pilih Kategori</option>
                    <option value="1">General</option>
                    <option value="2">Rumah Murah</option>
                    <option value="3">Rumah dan Keluarga</option>
                    <option value="4">Desain Eksterior</option>
                    <option value="5">Information</option>
                    <option value="6">Pendidikan</option>
                    <option value="7">Sosial Budaya</option>
                    <option value="8">Agama</option>
                    <option value="9">Perumahan</option>
                    <option value="10">Progres</option>
                    <option value="11">Sepak Bola</option>
                    <option value="12">Tips dan Trik</option>
                    <option value="13">Seputar Olahraga</option>
                    <option value="="14>Ragam Daftar</option>
                </select>
                <div class="input-append">   
                        <button class="btn btn-secondary" type="button" style="width: 50px;">
                            <i class="fas fa-search" style="color: gray;"></i>
                        </button>
                </div>
            </div>
                <!--card-->
                    <div class="container">
                        <div class="row">
                            <!--card single-->
                            <div class="col-md-3" style="min-height:1100px!important; ">
                                <div class="text-xs-center">
                                    <div class="mbr-plan-header card-block">                      
                                      <div class="card-text">
                                            <div class="card-img">
                                                <a href="https://jawaracorpo.com/Vitamin-Terbaik-Buat-Pria-Semakin-Kuat-dan-Tahan-Lama.html" title="0339259555bpromaxseven.jpeg" alt="0339259555bpromaxseven.jpeg">
                                                <img src="https://jawaracorpo.com/assets/images/t/0339259555bpromaxseven.jpeg" title="Vitamin Terbaik Buat Pria Semakin Kuat dan Tahan Lama" alt="0339259555bpromaxseven.jpeg" class="card-img-top">
                                                </a>
                                            </div>    
                                      </div>
                                    </div>
                                    <div class="mbr-plan-body card-block">
                                    <div class="card-title">
                                        <h2 style="font-size:20px; text-align: center;">
                                            <a class="pull-xs-left" href="#" title="Vitamin Terbaik Buat Pria Semakin Kuat dan Tahan Lama" style="text-decoration:none; color:#fff">
                                                <span itemprop="name">Vitamin Terbaik Buat Pria Semakin Kuat dan Tahan Lama</span><br>               				
                                            </a>
                                        </h2><br>
                                        <p class="subs" style="font-size:small; color: grey; text-align: center;">dipost : 2019-12-14 04:36:23 oleh : Rina Kategori : Rumah dan Keluarga </p><br> 
                                        <div class="myvisitor">
                                            <a href="#" title="Vitamin Terbaik Buat Pria Semakin Kuat dan Tahan Lama" style="text-decoration:none;">
                                                <button class="btn-danger" style="color: #fff; text-align: center;">
                                                    <i class="fas fa-eye" style="color: white;"></i>Dibaca : 59 kali
                                                </button> 
                                            </a>
                                        </div><br>                       
                                    </div>
                                    <div class="mbr-plan-price-desc" style="text-align:justify!important; color:#CCC;">
                                        <span itemprop="description">Bukan Obat Kuat kimia tapi Herbal untuk vitalitas dan stamina pria perlu didukung oleh berbagai asupan vitamin dan mineral serta berbagai bahan herbal juga dapat sebagai penguat fisik untuk pria.</span> <i>... klik detail - <i style=" font-size:12px;">by 
                                        <span itemprop="publisher">Rumah Murah Berkualitas Jawara Corp</span></i></i><br><br>
                                    </div>
                                    <div class="mbr-plan-btn" style="text-align: center;">
                                        <button href=" #" class="btn btn-outline-light">Detail</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <!--cardsingle-->

                            <div class="col-md-3" style="min-height:1100px!important;">
                                <div class="mbr-plan card text-xs-center">
                                    <div class="card-block">                      
                                      <div class="card-text">
                                            <div class="card-img">
                                                <a href="https://jawaracorpo.com/Vitamin-Terbaik-Buat-Pria-Semakin-Kuat-dan-Tahan-Lama.html" title="0339259555bpromaxseven.jpeg" alt="0339259555bpromaxseven.jpeg">
                                                <img src="https://jawaracorpo.com/assets/images/t/0339259555bpromaxseven.jpeg" title="Vitamin Terbaik Buat Pria Semakin Kuat dan Tahan Lama" alt="0339259555bpromaxseven.jpeg" class="card-img-top">
                                                </a>
                                            </div>    
                                      </div>
                                    </div>
                                    <div class="mbr-plan-body card-block">
                                    <div class="card-title">
                                        <h2 style="font-size:20px; text-align: center;">
                                            <a class="pull-xs-left" href="#" title="Vitamin Terbaik Buat Pria Semakin Kuat dan Tahan Lama" style="text-decoration:none; color:#fff">
                                                <span itemprop="name">Vitamin Terbaik Buat Pria Semakin Kuat dan Tahan Lama</span><br>               				
                                            </a>
                                        </h2><br>
                                        <p class="subs" style="font-size:small; color: grey; text-align: center;">dipost : 2019-12-14 04:36:23 oleh : Rina Kategori : Rumah dan Keluarga </p><br> 
                                        <div class="myvisitor">
                                            <a href="#" title="Vitamin Terbaik Buat Pria Semakin Kuat dan Tahan Lama" style="text-decoration:none;">
                                                <button class="btn-danger" style="color: #fff; text-align: center;">
                                                    <i class="fas fa-eye" style="color: white;"></i>Dibaca : 59 kali
                                                </button> 
                                            </a>
                                        </div><br>                       
                                    </div>
                                    <div class="mbr-plan-price-desc" style="text-align:justify!important; color:#CCC;">
                                        <span itemprop="description">Bukan Obat Kuat kimia tapi Herbal untuk vitalitas dan stamina pria perlu didukung oleh berbagai asupan vitamin dan mineral serta berbagai bahan herbal juga dapat sebagai penguat fisik untuk pria.</span> <i>... klik detail - <i style=" font-size:12px;">by 
                                        <span itemprop="publisher">Rumah Murah Berkualitas Jawara Corp</span></i></i><br><br>
                                    </div>
                                    <div class="mbr-plan-btn" style="text-align: center;">
                                        <button href=" #" class="btn btn-outline-light">Detail</button>
                                    </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3" style="min-height:1100px!important;">
                                <div class="mbr-plan card text-xs-center">
                                    <div class="mbr-plan-header card-block">                      
                                      <div class="card-text">
                                            <div class="card-img">
                                                <a href="https://jawaracorpo.com/Vitamin-Terbaik-Buat-Pria-Semakin-Kuat-dan-Tahan-Lama.html" title="0339259555bpromaxseven.jpeg" alt="0339259555bpromaxseven.jpeg">
                                                <img src="https://jawaracorpo.com/assets/images/t/0339259555bpromaxseven.jpeg" title="Vitamin Terbaik Buat Pria Semakin Kuat dan Tahan Lama" alt="0339259555bpromaxseven.jpeg" class="card-img-top">
                                                </a>
                                            </div>    
                                      </div>
                                    </div>
                                    <div class="mbr-plan-body card-block">
                                    <div class="card-title">
                                        <h2 style="font-size:20px; text-align: center;">
                                            <a class="pull-xs-left" href="#" title="Vitamin Terbaik Buat Pria Semakin Kuat dan Tahan Lama" style="text-decoration:none; color:#fff">
                                                <span itemprop="name">Vitamin Terbaik Buat Pria Semakin Kuat dan Tahan Lama</span><br>               				
                                            </a>
                                        </h2><br>
                                        <p class="subs" style="font-size:small; color: grey; text-align: center;">dipost : 2019-12-14 04:36:23 oleh : Rina Kategori : Rumah dan Keluarga </p><br> 
                                        <div class="myvisitor">
                                            <a href="#" title="Vitamin Terbaik Buat Pria Semakin Kuat dan Tahan Lama" style="text-decoration:none;">
                                                <button class="btn-danger" style="color: #fff; text-align: center;">
                                                    <i class="fas fa-eye" style="color: white;"></i>Dibaca : 59 kali
                                                </button> 
                                            </a>
                                        </div><br>                       
                                    </div>
                                    <div class="mbr-plan-price-desc" style="text-align:justify!important; color:#CCC;">
                                        <span itemprop="description">Bukan Obat Kuat kimia tapi Herbal untuk vitalitas dan stamina pria perlu didukung oleh berbagai asupan vitamin dan mineral serta berbagai bahan herbal juga dapat sebagai penguat fisik untuk pria.</span> <i>... klik detail - <i style=" font-size:12px;">by 
                                        <span itemprop="publisher">Rumah Murah Berkualitas Jawara Corp</span></i></i><br><br>
                                    </div>
                                    <div class="mbr-plan-btn" style="text-align: center;">
                                        <button href=" #" class="btn btn-outline-light">Detail</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                  
                            <div class="col-md-3" style="min-height:1100px!important;">
                                <div class="mbr-plan card text-xs-center">
                                    <div class="mbr-plan-header card-block">                      
                                      <div class="card-text">
                                            <div class="card-img">
                                                <a href="https://jawaracorpo.com/Vitamin-Terbaik-Buat-Pria-Semakin-Kuat-dan-Tahan-Lama.html" title="0339259555bpromaxseven.jpeg" alt="0339259555bpromaxseven.jpeg">
                                                <img src="https://jawaracorpo.com/assets/images/t/0339259555bpromaxseven.jpeg" title="Vitamin Terbaik Buat Pria Semakin Kuat dan Tahan Lama" alt="0339259555bpromaxseven.jpeg" class="card-img-top">
                                                </a>
                                            </div>    
                                      </div>
                                    </div>
                                    <div class="mbr-plan-body card-block">
                                    <div class="card-title">
                                        <h2 style="font-size:20px; text-align: center;">
                                            <a class="pull-xs-left" href="#" title="Vitamin Terbaik Buat Pria Semakin Kuat dan Tahan Lama" style="text-decoration:none; color:#fff">
                                                <span itemprop="name">Vitamin Terbaik Buat Pria Semakin Kuat dan Tahan Lama</span><br>               				
                                            </a>
                                        </h2><br>
                                        <p class="subs" style="font-size:small; color: grey; text-align: center;">dipost : 2019-12-14 04:36:23 oleh : Rina Kategori : Rumah dan Keluarga </p><br> 
                                        <div class="myvisitor">
                                            <a href="#" title="Vitamin Terbaik Buat Pria Semakin Kuat dan Tahan Lama" style="text-decoration:none;">
                                                <button class="btn-danger" style="color: #fff; text-align: center;">
                                                    <i class="fas fa-eye" style="color: white;"></i>Dibaca : 59 kali
                                                </button> 
                                            </a>
                                        </div><br>                       
                                    </div>
                                    <div class="mbr-plan-price-desc" style="text-align:justify!important; color:#CCC;">
                                        <span itemprop="description">Bukan Obat Kuat kimia tapi Herbal untuk vitalitas dan stamina pria perlu didukung oleh berbagai asupan vitamin dan mineral serta berbagai bahan herbal juga dapat sebagai penguat fisik untuk pria.</span> <i>... klik detail - <i style=" font-size:12px;">by 
                                        <span itemprop="publisher">Rumah Murah Berkualitas Jawara Corp</span></i></i><br><br>
                                    </div>
                                    <div class="mbr-plan-btn" style="text-align: center;">
                                        <button href=" #" class="btn btn-outline-light">Detail</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--card-->
                    </div>
        </div>
            <!--pagination-->
            <nav aria-label="Page navigation example" >
                <ul class="pagination" style="background-color: rgba(0, 0, 0, 0);">
                  <li class="page-item" style="background-color: rgba(0, 0, 0, 0);">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <!--pagination-->
    </div>
    <!--map-->
    <div class="map">
        <div class="row">
            <div class="col-3">
                <i class="fas fa-home" style="color: white;"></i>
                <a style="font-size: medium; color: white; font-weight: bolder;">Address</a><br><br>
                <a class="pt" style = "font-size: small; color: white; font-weight: bolder;">JawaraCorporation :</a><br>
                <a class="alamat" style = "font-size: small; color: white;">Ruko Pesanggrahan Pratama Blok B-6
                    Jl. Panglima Sudirman - Karangploso - Malang.
                    East Java.
                    Indonesia.
                    Kode Pos 65152</a><br><br><br>
                <i class="far fa-clock" style="color: white;"></i>
                <a style="font-size: medium; color: white; font-weight: bolder;">Opening hour</a><br><br>
                <a class="alamat" style = "font-size: small; color: white;">08:30:00 - 16:30:00</a>
            </div>
            <div class="col-3" >
                <i class="far fa-comment-alt" style="color: white;"></i>
                <a style="font-size: medium; color: white; font-weight: bolder;">Link</a><br><br>
                <ul>
                    <li class="" style="color:#ffa8a8;">
                        <span class="fa fa-phone" style="color: white;"></span> &nbsp;
                        <a class="text-white" href="tel:+6282336483333" title="Telepon kami +6282336483333">+6282336483333</a>
                    </li>
        
                    <li class="" style="color:#ffa8a8;">
                        <span class="fa fa-home" style="color: white;"></span> &nbsp;
                        <a class="text-white">+62341 - 461555</a>
                    </li>
        
                    <li class="" style="color:#ffa8a8;">
                        <span class="fa fa-envelope-square" style="color: white;"></span> &nbsp;
                        <a class="text-white" href="mailto:joss@jawaracorpo.com" title="kirim email ke joss@jawaracorpo.com"><span itemprop="email">joss@jawaracorpo.com</span></a>
                    </li>
        
                    <li class="" style="color:#ffa8a8;">
                        <span class="fa fa-home" style="color: white;"></span> &nbsp;
                        <a class="text-white" href="https://jawaracorpo.com/pricelist-rumah-murah" title="Pricelist Rumah Murah">Pricelist Rumah Murah</a>
                    </li>
        
                    <li class="" style="color:#ffa8a8;">
                        <span class="fa fa-home" style="color: white;"></span> &nbsp;
                        <a class="text-white" href="https://jawaracorpo.com/Rumah-Murah-di-Malang.html" title="Pricelist Rumah Murah">Rumah Murah Malang</a>
                    </li>
        
                    <li class="" style="color:#ffa8a8;">
                        <span class="fa fa-star" style="color: white;"></span> &nbsp;
                        <a class="text-white" href="https://jawaracorpo.com/force-link" title="FORCE LINK">FORCE LINK</a>
                    </li>
                    <li >
                        <a href="https://www.facebook.com/jawaracorpo/" title="ikuti kami https://www.facebook.com/jawaracorpo/">
                            <span class="fab fa-facebook" style="color: white;"></span>
                        </a>&nbsp;&nbsp;&nbsp;
        
                        <a href="https://twitter.com/JawaraCorporat1" title="ikuti kami https://twitter.com/JawaraCorporat1">
                            <i class="fab fa-twitter"></i>
                        </a>&nbsp;&nbsp;&nbsp;
        
                        <a href="https://www.youtube.com/channel/UC2yRbZFK53vtXy7ZL04sDsA/" title="ikuti kami https://www.youtube.com/channel/UC2yRbZFK53vtXy7ZL04sDsA/">
                            <i class="fab fa-youtube" style="color: white;"></i>
                        </a>&nbsp;&nbsp;&nbsp;
        
                    </li>
        
                </ul>
            </div>
            <div class="col-6">
               <i class="fas fa-globe" style="color: white;"></i>
                <a style="font-size: medium; color: white; font-weight: bolder;">Google Map : Office</a><br><br>
                <div class="mbr-map">
                    <a href="https://www.google.com/maps/dir//Perumahan+Pesanggrahan+Pratama,+Jl.+Panglima+Sudirman,+Karangploso,+Girimoyo,+Karangploso,+Malang,+East+Java+65152/@-7.887808,112.60389,52940m/data=!3m1!1e3!4m9!4m8!1m0!1m5!1m1!1s0x2e7881b8fd773fd1:0xd2930e9a3a3546f2!2m2!1d112.5920403!2d-7.8967542!3e0?hl=en-US" title="Klik Peta Kantor pusat Rumah Murah Berkualitas Jawara Corp" target="_blank" rel="nofollow"><img src="https://jawaracorpo.com/assets/images/jawara-corpo-mapping.jpg" alt="jawara-corpo-mapping.jpg" style="width:100%;"></a>
                </div>
            </div>
        </div>
    </div>
    <!--map-->

    <!--footer-->
    <footer style="align-items: center;">
        <div class="judul-kategori">Kategori
        </div><br><br>

        <p class="tulisan-footer" style="text-align:justify!important">        	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Ulasan-Produk/" title="Ulasan Produk">
                                      
						Ulasan Produk <small style="color:#d0d0d0;"> <strong>68</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Tips-dan-Trik/" title="Tips dan Trik">
                                      
						Tips dan Trik <small style="color:#d0d0d0;"> <strong>36</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Teknologi-dan-Dunia-Digital/" title="Teknologi dan Dunia Digital">
                                      
						Teknologi dan Dunia Digital <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Sosial-Budaya/" title="Sosial Budaya">
                                      
						Sosial Budaya <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Seputar-Olahraga/" title="Seputar Olahraga">
                                      
						Seputar Olahraga <small style="color:#d0d0d0;"> <strong>3</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Sepak-Bola/" title="Sepak Bola">
                                      
						Sepak Bola <small style="color:#d0d0d0;"> <strong>12</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Rumah-Murah/" title="Rumah Murah">
                                      
						Rumah Murah <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Rumah-dan-Keluarga/" title="Rumah dan Keluarga">
                                      
						Rumah dan Keluarga <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Ragam-Daftar/" title="Ragam Daftar">
                                      
						Ragam Daftar <small style="color:#d0d0d0;"> <strong>2</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Progres/" title="Progres">
                                      
						Progres <small style="color:#d0d0d0;"> <strong>46</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Perumahan/" title="Perumahan">
                                      
						Perumahan <small style="color:#d0d0d0;"> <strong>4</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Pendidikan/" title="Pendidikan">
                                      
						Pendidikan <small style="color:#d0d0d0;"> <strong>4</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Jawara-Cyber-Partner/" title="Jawara Cyber Partner">
                                      
						Jawara Cyber Partner <small style="color:#d0d0d0;"> <strong>3</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Inspirasi-dan-Motivasi/" title="Inspirasi dan Motivasi">
                                      
						Inspirasi dan Motivasi <small style="color:#d0d0d0;"> <strong>1</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Information/" title="Information">
                                      
						Information <small style="color:#d0d0d0;"> <strong>16</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/General/" title="General">
                                      
						General <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Feng-Shui/" title="Feng Shui">
                                      
						Feng Shui <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Economic-Portal/" title="Economic Portal">
                                      
						Economic Portal <small style="color:#d0d0d0;"> <strong>3</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Desain-Rumah/" title="Desain Rumah">
                                      
						Desain Rumah <small style="color:#d0d0d0;"> <strong>13</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Desain-Interior/" title="Desain Interior">
                                      
						Desain Interior <small style="color:#d0d0d0;"> <strong>102</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Desain-Eksterior/" title="Desain Eksterior">
                                      
						Desain Eksterior <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Berita-Jawara/" title="Berita Jawara">
                                      
						Berita Jawara <small style="color:#d0d0d0;"> <strong>13</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Artikel-Rumah/" title="Artikel Rumah">
                                      
						Artikel Rumah <small style="color:#d0d0d0;"> <strong>158</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Agama/" title="Agama">
                                      
						Agama <small style="color:#d0d0d0;"> <strong>4</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori//" title="">
                                      
						 <small style="color:#d0d0d0;"></small>
                    
                    </a><br><br>
        </p><br><br>
        <div class="judul-service">Terms of Service</div><br>
        <div class="copyright">
            <a style="margin-left: 370px;">Copyright© Jawara Corporation September - 2017</a>
        </div>
        <div class="navbar-brand">
            <a href="..index1.html" class="navbar-logo">
                <img src="https://jawaracorpo.com/assets/images/logo.png" alt="Explore Your System with Us" title="Explore Your System with Us"></a> 
        </div>
    </footer>
    <!--footer-->  
</body>
</html>