.navbar-light{
    background-color: #990012;  
}

.nav-item{
    color: white;
}

#navbarDropdown{
    color: white;
}

.dropdown{
    color: white;
}

.navbar-collapse{
    margin-left: 600px;

}

.isian{
    background-image: url('gambar/desert-dunes.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 30px;
    padding-top: 10px;
}
.isian .judul{
    margin-bottom: 30px;
}

.judul h1{
    margin-top: 100px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.judul h5{
    color: white;
    text-align: center;
}

.background-gelap .form-inline{
    align-items: center;
    padding-top: 20px;
}
.background-gelap .form-inline .form-control{
    margin-left: 130px;
    width: 700px;
    height: 30px;
}


.background-gelap{
    background-color: rgba(0, 0, 0, 0.85);
    padding-bottom: 20px;
}

.background-gelap h6{
    color: white;
    margin-left: 100px;
}

.background-gelap .input-group .custom-select{
    margin-left: 180px;
    width: 50px;
}

.input-group{
    margin-top: 10px;
    padding-bottom: 50px;
}

.input-group .input-append{
    margin-left: 50px;
    border-radius: 3px;
    height: 25px;
    width: 45px;
}

.input-group .col-sm-4{
    margin-left: 215px;
    border-radius: 3px;
}

.col-xl-3{
    background-color: rgba(0, 0, 0, 0);
}

.kartu{
    padding-left: 30px;
    padding-right: 30px;
}

.card-tittle h2 .pull-xs-left{
    text-align: center;
}

.card-tittle h2 .subs{
    text-align: center;
    color: grey;
    
}

.myvisitor .btn-danger{
    border-radius: 2px;
    margin-left: 60px;
}

.map{
    background-image: url(/gambarRumah/wijaya-kusuma-kepuharjo-malang2.jpg);
}

.map .row{
    background-color: rgba(0, 0, 0, 0.85);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 180px;
    padding-right: 180px;
    margin-bottom: 30px;
}

.map .row .col-3{
    padding-right: 30px;
}

.map .row .col-3 .fa-home{
    padding-bottom: 30px;
}

.map .row .col-3 .alamat{
    padding-bottom: 30px;
}

footer{
    background-color: rgba(0, 0, 0, 0.85);
    padding-bottom: 300px;
    padding-top: 30px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

footer .judul-kategori{
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    font-family: "Lora";
    line-height: 26px;
    float:left;
    color:#ff6b6b;
    margin-left: 520px;
}

footer .tulisan-footer a{
    display: block;
    font-weight: 400;
    font-size: 12px;
    font-family: "Verdana";
    line-height: 26px;
    float:left;
    color:#ff6b6b;
    padding-bottom: 30px;
}

footer .judul-service{
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    font-family: "Lora";
    line-height: 26px;
    float:left;
    color:#ff6b6b;
    text-align: center;
    margin-left: 490px;
    margin-top: 50px;
}

footer .copyright a{
    margin-top: 20px;
    padding-right: 200px;
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    font-family: "Lora";
    line-height: 26px;
    float:left;
    color:#d8dee9;
}

footer .navbar-brand{
    padding-top: 30px;
}

footer .navbar-brand a{
    align-items: center;
    padding-left: 450px;
}

/*footer .tulisan-copyright{
    padding-top: 20px;
}

footer .navbar-brand{
    padding-top: 30px;
}