html{
    font-family: Verdana,sans-serif;
}
.navbar-light{
    background-color: #441111;  
}

.nav-item{
    color: white;
}

#navbarDropdown{
    color: white;
}

.dropdown{
    color: white;
}

.navbar-collapse{
    margin-left: 450px;

}

.spaceBeetwenHeader{
    margin-top: 40px;
}
#GroupContainer{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                    url('../TentangGambar/Rumah/01491075507progres\ pembangunan\ jawara\ land.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#titleGroup{
    text-align: center;
    font-weight: bold;
    font-size: 30pt;
    color: white;
}
#countGroup{
    text-align: center;
    font-size: 15pt;
    font-style: italic;
    margin-bottom: 5px;
    color: white;
}

#imgCenter{
    text-align: center;
}
#logoOrganisasi{
    width: 100px;
}
#namaOrganisasi{
    font-size: 13pt;
    font-weight: bold;
    color: white;
    text-align: center;
}
#keteranganOrganisasi{
    font-size: 10pt;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
#cardPlace{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
#jargonOrganisasiContainer{
    background: grey;
    
}
#jargonOrganisasiSection{
    margin-left: 100px;
    margin-right: 100px;
}
#titlejargonContainer{
   color: white;
   margin-bottom: 50px;
}
#ketJargonContainer{
    margin-top: 50px;
    color: white;
    font-size: 18pt;
}
#tentangKamiContainer{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                    url('../TentangGambar/Logo/2927262.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#logoContainer{
    text-align: center;
}
#logoPerusahaan{
    width: 100px;
}
#tentangKamiSection{
    margin-left: 100px;
    margin-right: 100px;
}
#titleTentang{
    color: white;
    margin-bottom: 25px;
    font-weight: bold;
}
#ketTentang{
    color: white;
    margin-top: 25px;
    font-size: 16pt;
}
#misiTentang{
    color: white;
    margin-top: 25px;
    font-size: 16pt;
}
#visiTentang{
    color: white;
    margin-top: 25px;
    font-size: 16pt;
}
#produkTentang{
    color: white;
    margin-top: 25px;
    font-size: 16pt;
}
#linkProduk{
    color: #E488A2;
    font-size: 16pt;
}
#sharePageContainer{
    background: #290c10;
}
#sharePageSection{
    text-align: center;
}
#sharePageTitle{
    color: white;
    font-size: 30pt;
    font-weight: bold;
}

/* a.fa-{
    padding: 15px;
    border-radius: 50%;
    border: 2px solid #E488A2;
} */

.fa-:hover {
    background: #E488A2;
    color: white;
    text-decoration: none;
}

/* Facebook */
#facebook {
    color: white;
    padding: 1px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    padding: 15px;
    border-radius: 50%;
    border: 2px solid #E488A2;
}
#facebook:hover {
    background: #E488A2;
    color: white;
    text-decoration: none;
}

/* Twitter */
#twitter {
    color: white;
    padding: 1px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 50%;
    border: 2px solid #E488A2;
}
#twitter:hover {
    background: #E488A2;
    color: white;
    text-decoration: none;
}

/* Google + */
.fa-google-plus{
    color: white;
    padding: 1px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 50%;
    border: 2px solid #E488A2;
}
.fa-google-plus:hover {
    background: #E488A2;
    color: white;
    text-decoration: none;
}

/* Instagram */
.fa-instagram{
    color: white;
    padding: 1px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 50%;
    border: 2px solid #E488A2;
}
.fa-instagram:hover {
    background: #E488A2;
    color: white;
    text-decoration: none;
}

#followUsContainer{
    background: #282726;
}
#followUsSection{
    text-align: center;
}
#followUsTitle{
    color: white;
    font-size: 30pt;
    font-weight: bold;
}
/*Youtube */
#youtube{
    color: white;
    padding: 1px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 50%;
    border: 2px solid #E488A2;
}
#youtube:hover {
    background: #E488A2;
    color: white;
    text-decoration: none;
}

.map{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('TentangGambar/gambarRumah/wijaya-kusuma-kepuharjo-malang2.jpg');
}
.map .row{
    background-color: rgba(0, 0, 0, 0.85);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 180px;
    padding-right: 180px;
    margin-bottom: 30px;
}
.map .row .col-3{
    padding-right: 30px;
}
.map .row .col-3 .alamat{
    padding-bottom: 30px;
}
footer{
    background-color: rgba(0, 0, 0, 0.85);
    padding-bottom: 300px;
    padding-top: 30px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
footer .judul-kategori{
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    font-family: "Lora";
    line-height: 26px;
    float:left;
    color:#ff6b6b;
    margin-left: 520px;
}
footer .tulisan-footer a{
    display: block;
    font-weight: 400;
    font-size: 12px;
    font-family: "Verdana";
    line-height: 26px;
    float:left;
    color:#ff6b6b;
    padding-bottom: 30px;
}
footer .judul-service{
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    font-family: "Lora";
    line-height: 26px;
    float:left;
    color:#ff6b6b;
    text-align: center;
    margin-left: 490px;
    margin-top: 50px;
}
footer .copyright a{
    margin-top: 20px;
    padding-right: 200px;
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    font-family: "Lora";
    line-height: 26px;
    float:left;
    color:#d8dee9;
}
footer .navbar-brand{
    padding-top: 30px;
}
footer .navbar-brand a{
    align-items: center;
    padding-left: 450px;
}
#ikutiFacebook,#ikutiTwitter,#ikutiYoutube{
    color:  #E488A2;
}
#ikutiFacebook:hover,#ikutiTwitter:hover,#ikutiYoutube:hover{
    text-decoration: none;
}
