.navbar-light{
    background-color: #990012;  
}

.nav-item{
    color: white;
}

#navbarDropdown{
    color: white;
}

.dropdown{
    color: white;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    /*height: 300px;  Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/assets/images/loading.gif) center no-repeat #fff;*/


#btop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: -10px; /* Place the button at the bottom of the page */
    left: 0px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    color: white; /* Text color */    
}

#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    /*padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;   
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    /*height: 300px;  Should be removed. Only for demonstration */
}
.columnb {
    float: left;
    width: 50%;
    padding: 10px;
    /*height: 300px;  Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.containero {
  position: relative;
  width: 100%;
}

.imageo {
  display: block;
  width: 100%;
  height: auto;
}

#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    /*padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;   
}

.overlayo {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.54);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    color: #fff;
}

.containero:hover .overlayo {
  height: 100%;
}

.texto {
  text-align:center;
  vertical-align:middle;
  color: white;
  font-size: 11px;
  position: relative;
  overflow: hidden;
  /*top: 50%;white-space: nowrap; 
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);*/
}

.navigasi{
    background-color: #990012;;
}

.navbar-collapse{
    margin-left: 600px;

}

.spaceBeetwenHeader{
    margin-top: 40px;
}
#GroupContainer{
    background-image: url('../TentangGambar/Rumah/01491075507progres\ pembangunan\ jawara\ land.jpeg');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#titleGroup{
    text-align: center;
    font-weight: bold;
    font-size: 30pt;
    color: white;
}
#countGroup{
    text-align: center;
    font-size: 15pt;
    font-style: italic;
    margin-bottom: 5px;
    color: white;
}
#containerOrganisasi{
    width: 100px;
    height: 250px;
    opacity: 1;
    
}
#logoOrganisasi{
    width: 100px;
    height: 100px;
}
#namaOrganisasi{
    font-size: 10pt;
    text-align: center;
}
#keteranganOrganisasi{
    font-size: 8pt;
    text-align: center;
    margin-bottom: 30px;
}