<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rumah Murah Berkualitas Jawara Corp | Explore Your System with Us</title>
    <link rel="shortcut icon" href="TentangGambar/Logo/JAWARA-icon-small.png" type="image/x-icon">
    <link rel="stylesheet" href="TentangCss/tentang.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-light">
            <div class="navbar-brand">
                <a href="index1.html" class="navbar-logo"><img src="https://jawaracorpo.com/assets/images/logo.png" alt="Explore Your System with Us" title="Explore Your System with Us"></a> 
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger-icon"></div>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ON JOSS
                        </a>
                        <div class="dropdown">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="https://wjoss.com/">WJOSS Marketplace</a>
                            <a class="dropdown-item" href="#">Team JOSS</a>
                            <a class="dropdown-item" href="#">Force Link</a>
                            <a class="dropdown-item" href=""> User JOSS</a>
                            <a class="dropdown-item" href="#">Rumah Murah Berkualitas Jawara Corp</a>
                            <a class="dropdown-item" href="#">cakroden.com</a>
                            <a class="dropdown-item" href="#">wimapu.com</a>
                            <a class="dropdown-item" href="">vilbupin.com</a>
                            <a class="dropdown-item" href="#">Batu Top View</a>
                            <a class="dropdown-item" href="#">Jawara Land</a>
                            <a class="dropdown-item" href="#">Jawara Boulevard</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span class="mbri-info"></span>Tentang</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kontak</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Widget</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="spaceBeetwenHeader">
        <br>
    </div>
    <div id="GroupContainer">
        <br><br><br>
        <div id="titleSection" class="col-xs-12 text-xs-center">
            <h3 id="titleGroup" > JAWARA GROUP </h3>
            <h5 id="countGroup"> 4 Pilar Organisasi Perusahaan </h5>
        </div>
        <div class="card-deck">
            <div class="card bg-transparent" id="cardOrganisasi">
                <div id="imgCenter">
                    <img id="logoOrganisasi" src="TentangGambar/Logo/JAWARA-icon-small.png" class="card-img-top">
                </div>
                <div class="card-body">
                    <p class="card-title" id="namaOrganisasi">Jawara Corporation</p>
                    <p class="card-text" id="keteranganOrganisasi">Holding Company</p>
                </div>
            </div>
            <div class="card bg-transparent" id="cardOrganisasi">
                <div id="imgCenter">
                    <img id="logoOrganisasi" src="TentangGambar/Logo/logo-jpi.png" class="card-img-top">
                </div>
                <div class="card-body">
                    <p class="card-text" id="namaOrganisasi" >PT.Jawara Properti Indonesia</p>
                    <p class="card-text" id="keteranganOrganisasi">Developer Perumahan</p>
                </div>
            </div>
            <div class="card bg-transparent" id="cardOrganisasi">
                <div id="imgCenter">
                    <img id="logoOrganisasi" src="TentangGambar/Logo/logo-jbp.png" class="card-img-top">
                </div>
                <div class="card-body">
                    <p class="card-text" id="namaOrganisasi" >PT.Jawara Bangun Persada</p>
                    <p class="card-text" id="keteranganOrganisasi" >High Rise Building</p>
                </div>
            </div>
            <div class="card bg-transparent" id="cardOrganisasi">
                <div id="imgCenter">
                    <img id="logoOrganisasi" src="TentangGambar/Logo/logo-jmt.png" class="card-img-top">
                </div>
                <div class="card-body">
                    <p class="card-text" id="namaOrganisasi" >PT.Jawara Media Teknologi</p>
                    <p class="card-text" id="keteranganOrganisasi" >IT And Multimedia</p>
                </div>
            </div>
        </div>
        <br><br><br>
    </div>
    <div id="jargonOrganisasiContainer">
        <div id="jargonOrganisasiSection">
            <br><br><br><br>
            <div id="titlejargonContainer">
                <h1 id="titlejargon"> Explore Your System With Us</h4>
            </div>
            <div id="ketJargonContainer">
                <P id="ketJargon">Developer rumah murah berkualitas Jawara Corporation : Developer rumah murah, fasilitas umum, gedung bertingkat, dan Develop sistem IT di Malang & sekitarnya</P>
            </div>
            <br><br><br><br><br>
        </div>
    </div>
    <div id="tentangKamiContainer">
        <div id="tentangKamiSection">
            <div id="logoContainer">

            </div>
            <div id="ketTentangContainer">
                
            </div>
        </div>
    </div>
</body>
</html>