<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tentang Rumah Murah Berkualitas Jawara Corp</title>
    <link rel="shortcut icon" href="TentangGambar/Logo/JAWARA-icon-small.png" type="image/x-icon">
    <link rel="stylesheet" href="TentangCss/tentang.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-light">
            <div class="navbar-brand">
                <a href="index1.html" class="navbar-logo"><img src="https://jawaracorpo.com/assets/images/logo.png" alt="Explore Your System with Us" title="Explore Your System with Us"></a> 
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger-icon"></div>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ON JOSS
                        </a>
                        <div class="dropdown">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="https://wjoss.com/">WJOSS Marketplace</a>
                            <a class="dropdown-item" href="#">Team JOSS</a>
                            <a class="dropdown-item" href="#">Force Link</a>
                            <a class="dropdown-item" href=""> User JOSS</a>
                            <a class="dropdown-item" href="#">Rumah Murah Berkualitas Jawara Corp</a>
                            <a class="dropdown-item" href="#">cakroden.com</a>
                            <a class="dropdown-item" href="#">wimapu.com</a>
                            <a class="dropdown-item" href="">vilbupin.com</a>
                            <a class="dropdown-item" href="#">Batu Top View</a>
                            <a class="dropdown-item" href="#">Jawara Land</a>
                            <a class="dropdown-item" href="#">Jawara Boulevard</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span class="mbri-info"></span>Tentang</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kontak</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Widget</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="spaceBeetwenHeader">
        <br>
    </div>
    <div id="GroupContainer">
        <br><br><br>
        <div id="titleSection" class="col-xs-12 text-xs-center">
            <h3 id="titleGroup" > JAWARA GROUP </h3>
            <h5 id="countGroup"> 4 Pilar Organisasi Perusahaan </h5>
        </div>
        <div class="card-deck" id="cardPlace">
            <div class="card bg-transparent" id="cardOrganisasi">
                <div id="imgCenter">
                    <img id="logoOrganisasi" src="TentangGambar/Logo/JAWARA-icon-small.png" class="card-img-top">
                </div>
                <div class="card-body">
                    <p class="card-title" id="namaOrganisasi">Jawara Corporation</p>
                    <p class="card-text" id="keteranganOrganisasi">Holding Company</p>
                </div>
            </div>
            <div class="card bg-transparent" id="cardOrganisasi">
                <div id="imgCenter">
                    <img id="logoOrganisasi" src="TentangGambar/Logo/logo-jpi.png" class="card-img-top">
                </div>
                <div class="card-body">
                    <p class="card-text" id="namaOrganisasi" >PT. Jawara Properti Indonesia</p>
                    <p class="card-text" id="keteranganOrganisasi">Developer Perumahan</p>
                </div>
            </div>
            <div class="card bg-transparent" id="cardOrganisasi">
                <div id="imgCenter">
                    <img id="logoOrganisasi" src="TentangGambar/Logo/logo-jbp.png" class="card-img-top">
                </div>
                <div class="card-body">
                    <p class="card-text" id="namaOrganisasi" >PT. Jawara Bangun Persada</p>
                    <p class="card-text" id="keteranganOrganisasi" >High Rise Building</p>
                </div>
            </div>
            <div class="card bg-transparent" id="cardOrganisasi">
                <div id="imgCenter">
                    <img id="logoOrganisasi" src="TentangGambar/Logo/logo-jmt.png" class="card-img-top">
                </div>
                <div class="card-body">
                    <p class="card-text" id="namaOrganisasi" >PT. Jawara Media Teknologi</p>
                    <p class="card-text" id="keteranganOrganisasi" >IT And Multimedia</p>
                </div>
            </div>
        </div>
        <br><br><br>
    </div>
    <div id="jargonOrganisasiContainer">
        <div id="jargonOrganisasiSection">
            <br><br><br><br><br>
            <div id="titlejargonContainer">
                <h1 id="titlejargon"> Explore Your System With Us</h4>
            </div>
            <div id="ketJargonContainer">
                <p id="ketJargon">Developer rumah murah berkualitas Jawara Corporation : Developer rumah murah, fasilitas umum, gedung bertingkat, dan Develop sistem IT di Malang & sekitarnya</p>
            </div>
            <br><br><br><br><br>
        </div>
    </div>
    <div id="tentangKamiContainer">
        <div id="tentangKamiSection">
            <br><br><br>
            <div id="logoContainer">
                <img id="logoPerusahaan" src="TentangGambar/Logo/jawara-corporation-logo.png" class="card-img-top">
            </div>
            <div id="ketTentangContainer">
                <h1 id="titleTentang">TENTANG KAMI</h1>
                <p id="ketTentang"> <strong>Jawara Corporation</strong> adalah Inti dari berbagai item bisnis yang sedang kami bangun dan kami kembangkan, di berbagai bidang bisnis seperti <strong>Property Development & Consultant, IT (Information Technology), Food & Beverage</strong>, dan lain-lain. </p>
                <p id="misiTentang"><strong>Misi</strong> kami adalah : Dengan energi awal untuk berbagi, kami mencoba ikut serta dalam membangun perekonomian Indonesia, memperluas lapangan pekerjaan, mempercantik dan mengembangkan pembangunan-pembangunan fasilitas umum, dan hunian atau pemukiman, sampai ke pengembangan kepribadian manusia-manusia untuk membantu-nya menjadi yang <strong>terhebat.</strong></p>
                <p id="visiTentang"><strong>Visi Jawara Corporation</strong> adalah Mewujudkan pembangunan Fisik dan Mental Bangsa dan Negara Indonesia ke arah perubahan yang positif demi mencapai <strong> Kesejahteraan </strong> dan <strong>Kejayaan</strong> bersama.</p>
                <p id="produkTentang">Beberapa brand produk kami yang saat ini sedang dan sudah exist diantaranya adalah <a href="#" id="linkProduk">klik disini</a> </p id="produkTentang">
            </div>
            <br><br><br><br>
        </div>
    </div>
    <div id="sharePageContainer">
        <div id="sharePageSection">
            <br><br><br>
            <div id="sharePageTitleContainer">
                <p id="sharePageTitle"> SHARE THIS PAGE! </p>
            </div>
            <div id="btnSharePageContainer">
                <a href="https://www.facebook.com" class="fa fa-facebook" title="Share link on Facebook"></a>
                <a href="https://www.twitter.com" class="fa fa-twitter" title="Share link on Twitter"></a>
                <a href="https://plus.google.com" class="fa fa-google-plus" title="Share link on Google Plus"></a>
                <a href="https://www.instagram.com" class="fa fa-instagram" title="Share link on Instagram"></a>
            </div>
            <br><br><br>
        </div>
    </div>
    <div id="followUsContainer">
        <div id="followUsSection">
            <br><br><br>
            <div id="followUsContainer">
                <p id="followUsTitle"> FOLLOW US </p>
            </div>
            <div id="btnFollowUsContainer">
                <a href="https://www.instagram.com" class="fa fa-instagram" title="Instagram"></a>
                <a href="https://www.twitter.com" class="fa fa-twitter" title="Twitter"></a>
                <a href="https://www.facebook.com" class="fa fa-facebook" title="Facebook"></a>
                <a href="https://plus.google.com" class="fa fa-google-plus" title="Google Plus"></a>
                <a href="https://www.youtube.com" class="fa fa-youtube-play" title="Youtube"></a>
            </div>
            <br><br><br>
        </div>
    </div>
    <div class="map">
        <div class="row">
            <div class="col-3">
                <strong style="color:#b7b5b5;">
                    <span class="mbri-home mbr-iconfont"></span> &nbsp;Address</strong
                    ><br>
                <i class="fa-home" style="color: white;"></i>
                <a style="font-size: medium; color: white; font-weight: bolder;">Address</a>
                <a class="pt" style = "font-size: small; color: white; font-weight: bolder;">JawaraCorporation :</a><br>
                <a class="alamat" style = "font-size: small; color: white;">Ruko Pesanggrahan Pratama Blok B-6
                    Jl. Panglima Sudirman - Karangploso - Malang.
                    East Java.
                    Indonesia.
                    Kode Pos 65152</a><br><br><br>
                <i class="fa-clock-o" style="color: white;"></i>
                <a style="font-size: medium; color: white; font-weight: bolder;">Opening hour</a><br><br>
                <a class="alamat" style = "font-size: small; color: white;">08:30:00 - 16:30:00</a>
            </div>
            <div class="col-3">
                <i class="fa-sticky-note" style="color: white;"></i>
                <a style="font-size: medium; color: white; font-weight: bolder;">Link</a>
                <li>
                    <ul>
                        <a style="font-size: medium; color: white;">+6282336483333</a>
                    </ul>
                </li>
            </div>
            <div class="col-6">
               <i class="fa-" style="color: white;"></i>
                <a style="font-size: medium; color: white; font-weight: bolder;">Google Map : Office</a>

            </div>
        </div>
    </div>

    <footer style="align-items: center;">
        <div class="judul-kategori">Kategori
            <!-- <p class="mbr-section-subtitle" style="text-align: center;"></p> -->
        </div><br><br>

        <p class="tulisan-footer">        	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Ulasan-Produk/" title="Ulasan Produk">
                                      
						Ulasan Produk <small style="color:#d0d0d0;"> <strong>68</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Tips-dan-Trik/" title="Tips dan Trik">
                                      
						Tips dan Trik <small style="color:#d0d0d0;"> <strong>36</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Teknologi-dan-Dunia-Digital/" title="Teknologi dan Dunia Digital">
                                      
						Teknologi dan Dunia Digital <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Sosial-Budaya/" title="Sosial Budaya">
                                      
						Sosial Budaya <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Seputar-Olahraga/" title="Seputar Olahraga">
                                      
						Seputar Olahraga <small style="color:#d0d0d0;"> <strong>3</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Sepak-Bola/" title="Sepak Bola">
                                      
						Sepak Bola <small style="color:#d0d0d0;"> <strong>12</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Rumah-Murah/" title="Rumah Murah">
                                      
						Rumah Murah <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Rumah-dan-Keluarga/" title="Rumah dan Keluarga">
                                      
						Rumah dan Keluarga <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Ragam-Daftar/" title="Ragam Daftar">
                                      
						Ragam Daftar <small style="color:#d0d0d0;"> <strong>2</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Progres/" title="Progres">
                                      
						Progres <small style="color:#d0d0d0;"> <strong>46</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Perumahan/" title="Perumahan">
                                      
						Perumahan <small style="color:#d0d0d0;"> <strong>4</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Pendidikan/" title="Pendidikan">
                                      
						Pendidikan <small style="color:#d0d0d0;"> <strong>4</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Jawara-Cyber-Partner/" title="Jawara Cyber Partner">
                                      
						Jawara Cyber Partner <small style="color:#d0d0d0;"> <strong>3</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Inspirasi-dan-Motivasi/" title="Inspirasi dan Motivasi">
                                      
						Inspirasi dan Motivasi <small style="color:#d0d0d0;"> <strong>1</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Information/" title="Information">
                                      
						Information <small style="color:#d0d0d0;"> <strong>16</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/General/" title="General">
                                      
						General <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Feng-Shui/" title="Feng Shui">
                                      
						Feng Shui <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Economic-Portal/" title="Economic Portal">
                                      
						Economic Portal <small style="color:#d0d0d0;"> <strong>3</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Desain-Rumah/" title="Desain Rumah">
                                      
						Desain Rumah <small style="color:#d0d0d0;"> <strong>13</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Desain-Interior/" title="Desain Interior">
                                      
						Desain Interior <small style="color:#d0d0d0;"> <strong>102</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Desain-Eksterior/" title="Desain Eksterior">
                                      
						Desain Eksterior <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Berita-Jawara/" title="Berita Jawara">
                                      
						Berita Jawara <small style="color:#d0d0d0;"> <strong>13</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Artikel-Rumah/" title="Artikel Rumah">
                                      
						Artikel Rumah <small style="color:#d0d0d0;"> <strong>158</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Agama/" title="Agama">
                                      
						Agama <small style="color:#d0d0d0;"> <strong>4</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori//" title="">
                                      
						 <small style="color:#d0d0d0;"></small>
                    
                    </a><br><br>
        </p><br><br>
        <!-- <a class="tulisan-copyright">Copyright© Jawara Corporation September - 2017</a>
        <div class="navbar-brand">
            <a href="..index1.html" class="navbar-logo"><img src="https://jawaracorpo.com/assets/images/logo.png" alt="Explore Your System with Us" title="Explore Your System with Us"></a> 
        </div> -->
        <div class="judul-service">Terms of Service
            <!-- <p style="text-align: center;"></p> -->
        </div><br>
        <div class="copyright">
            <a style="margin-left: 390px;">Copyright© Jawara Corporation September - 2017</a>
        </div>
        <div class="navbar-brand">
            <a href="..index1.html" class="navbar-logo">
                <img src="https://jawaracorpo.com/assets/images/logo.png" alt="Explore Your System with Us" title="Explore Your System with Us"></a> 
        </div>
    </footer>
</body>
</html>