html{
    font-family: Verdana,sans-serif;
}
.navbar-light{
    background-color: #441111;  
}

.nav-item{
    color: white;
}

#navbarDropdown{
    color: white;
}

.dropdown{
    color: white;
}

.navbar-collapse{
    margin-left: 450px;

}

.carousel-item{
    text-align: center;
    height: 600px;

}
#carousel1{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../GalleryGambar/Rumah/01802775669Gate\ utama\ Jawara\ Land\ Malang\ 11.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#carousel2{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../GalleryGambar/Rumah/vila-bukit-pinus-batu-pujon-malang1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#carousel3{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../GalleryGambar/Rumah/01096361157cover\ jl.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#titleCarousel{
    color: white;
    font-size: 35pt;
    font-weight: bold;
}

#isiCarousel{
    color: white;
    font-size: 25pt;
    font-family: 'Enriqueta', serif;
}
#galeryRumahMurahContainer{
    background: white;
}
#galeryRumahMurahSection{
    text-align: center;
}
#titleGaleryRumahMurah{
    color: black;
    font-size: 30pt;
    font-weight: bold;
}
#isiGaleryRumahMurah{
    color: black;
    font-size: 25pt;
}
#ketIsiGaleryRumahMurah{
    color: #B8B6B4;
    font-family: 'Enriqueta', serif;
}
#linkJforce{
    color: #B8B6B4;
    font-family: 'Enriqueta', serif;
    text-decoration: none;
}
#linkJforce:hover{
    color: goldenrod;
    font-family: 'Enriqueta', serif;
    text-decoration: none;
}
/* #galleryRumahCard{
    width: 400px;
} */
#ketGambarGallery{
    text-align: center;
}
.map{
    background-image: url(/gambarRumah/wijaya-kusuma-kepuharjo-malang2.jpg);
}

.map .row{
    background-color: rgba(0, 0, 0, 0.85);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 180px;
    padding-right: 180px;
    margin-bottom: 30px;
}

.map .row .col-3{
    padding-right: 30px;
    font-size: small;
}

.map .row .col-6{
    padding-left: 30px;
}

.map .row .col-3 .fa-home{
    padding-bottom: 30px;
}

.map .row .col-3 .fa-comment-alt{
    padding-left: 30px;
}

.map .row .col-3 .alamat{
    padding-bottom: 30px;
}

footer{
    background-color: rgba(0, 0, 0, 0.85);
    padding-bottom: 50px;
    padding-top: 30px;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
}

footer .judul-kategori{
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    font-family: "Lora";
    line-height: 26px;
    float:left;
    color:#ffa8a8;
    margin-left: 520px;
}

footer .tulisan-footer a{
    display: block;
    font-weight: 400;
    font-size: 12px;
    font-family: "Verdana";
    line-height: 26px;
    float:left;
    color:#ffa8a8;
    padding-bottom: 30px;
}

footer .judul-service{
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    font-family: "Lora";
    line-height: 26px;
    float:left;
    color:#ffa8a8;
    text-align: center;
    margin-left: 490px;
    margin-top: 50px;
}

footer .copyright a{
    margin-top: 20px;
    padding-right: 200px;
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    font-family: "Lora";
    line-height: 26px;
    float:left;
    color:#d8dee9;
}

footer .navbar-brand{
    padding-top: 30px;
}

footer .navbar-brand a{
    align-items: center;
    padding-left: 450px;
}

#ikutiFacebook,#ikutiTwitter,#ikutiYoutube{
    color:  #E488A2;
}
#ikutiFacebook:hover,#ikutiTwitter:hover,#ikutiYoutube:hover{
    text-decoration: none;
}