html{
    font-family: Verdana,sans-serif;
}

/*navbar*/
.navbar-light{
    background-color: #441111;  
}

.nav-item{
    color: white;
}

.nav-item a{
    text-size-adjust: small;
}


#navbarDropdown{
    color: white;
}

.dropdown{
    color: white;
}

.navbar-collapse{
    margin-left: 300px;

}
/*end-navbar*/

/*footer*/
footer{
    background-color: rgba(0, 0, 0, 0.85);
    padding-bottom: 50px;
    padding-top: 30px;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
}

footer .judul-kategori{
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    font-family: "Lora";
    line-height: 26px;
    float:left;
    color:#ffa8a8;
    margin-left: 520px;
}

footer .tulisan-footer a{
    display: block;
    font-weight: 400;
    font-size: 12px;
    font-family: "Verdana";
    line-height: 26px;
    float:left;
    color:#ffa8a8;
    padding-bottom: 30px;
}

footer .judul-service{
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    font-family: "Lora";
    line-height: 26px;
    float:left;
    color:#ffa8a8;
    text-align: center;
    margin-left: 490px;
    margin-top: 50px;
}

footer .copyright a{
    margin-top: 20px;
    padding-right: 200px;
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    font-family: "Lora";
    line-height: 26px;
    float:left;
    color:#d8dee9;
}

footer .navbar-brand{
    padding-top: 30px;
}

footer .navbar-brand a{
    align-items: center;
    padding-left: 450px;
}
