<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery Rumah Murah Berkualitas Jawara Corp</title>
    <link rel="shortcut icon" href="GalleryGambar/Logo/JAWARA-icon-small.png" type="image/x-icon">
    <link rel="stylesheet" href="GalleryCss/gallery.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Enriqueta&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-xl navbar-light">
        <div class="navbar-brand">
            <a href=".index1.html" class="navbar-logo"><img src="https://jawaracorpo.com/assets/images/logo.png" alt="Explore Your System with Us" title="Explore Your System with Us"></a> 
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger-icon"></div>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">  
                <a style="color: white; width: fit-content;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-coffee" ></span>&nbsp;ON JOSS
                </a>
                    <div class="dropdown">
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">WJOSS Marketplace</a>
                        <a class="dropdown-item" href="#">Team JOSS</a>
                        <a class="dropdown-item" href="#">Force Link</a>
                        <a class="dropdown-item" href=""> User JOSS</a>
                        <a class="dropdown-item" href="#">Rumah Murah Berkualitas Jawara Corp</a>
                        <a class="dropdown-item" href="#">cakroden.com</a>
                        <a class="dropdown-item" href="#">wimapu.com</a>
                        <a class="dropdown-item" href="">vilbupin.com</a>
                        <a class="dropdown-item" href="#">Batu Top View</a>
                        <a class="dropdown-item" href="#">Jawara Land</a>
                        <a class="dropdown-item" href="#">Jawara Boulevard</a>
                        </div>
                    </div>
                </li>&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">
                        <span class="fa fa-info-circle"></span>&nbsp; Tentang
                    </a>
                </li>&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">
                        <span class="fa fa-phone"></span>&nbsp; Kontak   
                    </a>
                </li>&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">
                        <span class="fa fa-clipboard"></span>&nbsp; Gallery
                    </a>
                </li>&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">
                        <span class="fa fa-copy"></span>&nbsp; Widget
                    </a>
                </li>&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">
                        <span class="fa fa-globe"></span>&nbsp; Blog
                    </a>
                </li>&nbsp;&nbsp;&nbsp;
            </ul>
        </div>
    </nav>
    </header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" id="carousel1">
            <br><br><br><br>
            <div id="titleCarouselContainer">
                <p id="titleCarousel">Explore Your System <br> with Us</p>
            </div>
            <div id="isiCarouselContainer">
                <i id="isiCarousel">welcome to <br> JAWARA CORPORATION</i>
            </div>
            <br><br><br><br>
            <div id="btnKontakKamiContainer">
                <button type="button" class="btn btn-secondary" id="btnKontakKami">Kontak Kami</button>
            </div>
            <br><br><br><br>
          </div>
          <div class="carousel-item" id="carousel2">
            <br><br><br><br><br><br>
            <div id="titleCarouselContainer">
                <p id="titleCarousel">Jawara Corporation</p>
            </div>
            <div id="isiCarouselContainer">
                <i id="isiCarousel">Sedang berkarya, demi KEHEBATAN bangsa<br></i>
            </div>
            <br><br><br><br><br><br><br>
            <div id="btnKontakKamiCarouselContainer">
                <button type="button" class="btn btn-secondary" id="btnKontakKami">Kontak Kami</button>
            </div>
            <br><br><br><br><br>
          </div>
          <div class="carousel-item" id="carousel3">
            <br><br><br><br><br><br>
            <div id="titleCarouselContainer">
                <p id="titleCarousel">Tumbuh dan <br> Berkembang</p>
            </div>
            <div id="isiCarouselContainer">
                <i id="isiCarousel">membangun negeri bersama anak-anak perusahaan kami</i>
            </div>
            <br><br><br><br>
            <div id="btnKontakKamiCarouselContainer">
                <button type="button" class="btn btn-secondary" id="btnKontakKami">Kontak Kami</button>
            </div>
            <br><br><br><br><br>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
    <div id="galeryRumahMurahContainer">
        <div id="galeryRumahMurahSection">
            <br><br><br><br>
            <div id="titleGaleryRumahMurahContainer">
                <p id="titleGaleryRumahMurah">GALLERY RUMAH MURAH</p>
            </div>
            <div id="isiGaleryRumahMurahContainer">
                <p id="isiGaleryRumahMurah">Harga <strong>HANYA</strong> 300jt an, <strong>SEGERA</strong> kontak kami</p>
            </div>
            <div id="ketIsiGaleryRumahMurahContainer">
                <p id="ketIsiGaleryRumahMurah">klik ini <a href="#" id="linkJforce"><strong>JAWARA FORCE LINK</strong></a>, dan pilih salah satu <strong> Team Solid </strong> kami yang siap melayani anda</p>
            </div>
            <br><br><br><br>
        </div>
    </div>
    <div id="galleryRumahContainer">
        <div class="card-group row-cols-md-4" id="cardPlace">
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/Batu-Top-View-Residence 2lt.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Batu Top View Residence 2 lt</p>
                </div>
            </div>
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/orchad-40x72.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Cluster Orchad 40/72</p>
                </div>
            </div>
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/CakalangRoyalGarden1.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Cakalang Royal Garden View</p>
                </div>
            </div>
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/CakalangRoyalGarden2.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Cakalang Royal Garden View</p>
                </div>
            </div>
        </div>
        <div class="card-group row-cols-md-4" id="cardPlace">
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/WijayaKusumaKepuharjo1.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Wijaya Kusuma Kepuharjo Gate</p>
                </div>
            </div>
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/WijayaKusumaKepuharjo2.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Wijaya Kusuma Kepuharjo View</p>
                </div>
            </div>
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/VillaBukitPinus1.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Villa Bukit Pinus Gate</p>
                </div>
            </div>
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/vila-bukit-pinus-batu-pujon-malang1.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Villa Bukit Pinus View</p>
                </div>
            </div>
        </div>
        <div class="card-group row-cols-md-4" id="cardPlace">
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/Batu-Top-View-Residence 1lt.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Batu Top View Residence 1 lt</p>
                </div>
            </div>
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/Batu-Top-View-Gate.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Batu Top View Gate</p>
                </div>
            </div>
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/Batu-Top-View-Residence 2lt.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Batu Top View 2 lantai</p>
                </div>
            </div>
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/Batu-Top-View-2lt-Prespektif.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Batu Top View Prespektif</p>
                </div>
            </div>
        </div>
        <div class="card-group row-cols-md-4" id="cardPlace">
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/Batu-Top-View-Residence 1lt.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Batu Top View 1 lantai</p>
                </div>
            </div>
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/denah-type-40-1-lantai-batu-top-view.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Denah Type 40 Batu Top View</p>
                </div>
            </div>
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/denah-type-54-2-lantai-batu-top-view.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Denah Type 54 Batu Top View</p>
                </div>
            </div>
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/siteplan-batu-top-view-residence.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Siteplan Batu Top View</p>
                </div>
            </div>
        </div>
        <div class="card-group row-cols-md-4" id="cardPlace">
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/map-batu-top-view-residence.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Map Batu Top View</p>
                </div>
            </div>
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/denah-40x72.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Denah Rumah 40/72</p>
                </div>
            </div>
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/orchad-54x72.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Cluster Orchad 54/72</p>
                </div>
            </div>
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/denah-54x72.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Denah Rumah 54/72</p>
                </div>
            </div>
        </div>
        <div class="card-group row-cols-md-4" id="cardPlace">
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/jawara-landsiteplan.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Jawara Land Siteplan</p>
                </div>
            </div>
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/jawara-landmap.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Jawara Land Mapping</p>
                </div>
            </div>
            <div class="card" id="galleryRumahCard">
                <img src="GalleryGambar/Rumah/JAWARALANDbrosurt.jpg" class="card-img-top">
                <div class="card-body" id="ketGambarGallery">
                <p class="card-text">Jawara Land Brosur</p>
                </div>
            </div>
        </div>
    </div>
    <div class="map">
        <div class="row">
            <div class="col-3">
                <i class="fas fa-home" style="color: white;"></i>
                <a style="font-size: medium; color: white; font-weight: bolder;">Address</a><br>
                <a class="pt" style = "font-size: small; color: white; font-weight: bolder;">JawaraCorporation :</a><br>
                <a class="alamat" style = "font-size: small; color: white;">Ruko Pesanggrahan Pratama Blok B-6
                    Jl. Panglima Sudirman - Karangploso - Malang.
                    East Java.
                    Indonesia.
                    Kode Pos 65152</a><br><br><br>
                <i class="far fa-clock" style="color: white;"></i>
                <a style="font-size: medium; color: white; font-weight: bolder;">Opening hour</a><br><br>
                <a class="alamat" style = "font-size: small; color: white;">08:30:00 - 16:30:00</a>
            </div>
            <div class="col-3" >
                <i class="far fa-comment-alt" style="color: white;"></i>
                <a style="font-size: medium; color: white; font-weight: bolder;">Link</a><br><br><br>
                <ul>
                    <li class="" style="color: #E488A2;">
                        <span class="fa fa-phone" style="color: white;"></span> &nbsp;
                        <a class="text-white" href="tel:+6282336483333" title="Telepon kami +6282336483333">+6282336483333</a>
                    </li>
        
                    <li class="" style="color: #E488A2;">
                        <span class="fa fa-home" style="color: white;"></span> &nbsp;
                        <a class="text-white">+62341 - 461555</a>
                    </li>
        
                    <li class="" style="color: #E488A2;">
                        <span class="fa fa-envelope-square" style="color: white;"></span> &nbsp;
                        <a class="text-white" href="mailto:joss@jawaracorpo.com" title="kirim email ke joss@jawaracorpo.com"><span itemprop="email">joss@jawaracorpo.com</span></a>
                    </li>
        
                    <li class="" style="color: #E488A2;">
                        <span class="fa fa-home" style="color: white;"></span> &nbsp;
                        <a class="text-white" href="https://jawaracorpo.com/pricelist-rumah-murah" title="Pricelist Rumah Murah">Pricelist Rumah Murah</a>
                    </li>
        
                    <li class="" style="color: #E488A2;">
                        <span class="fa fa-home" style="color: white;"></span> &nbsp;
                        <a class="text-white" href="https://jawaracorpo.com/Rumah-Murah-di-Malang.html" title="Pricelist Rumah Murah">Rumah Murah Malang</a>
                    </li>
        
                    <li class="" style="color: #E488A2;">
                        <span class="fa fa-star" style="color: white;"></span> &nbsp;
                        <a class="text-white" href="https://jawaracorpo.com/force-link" title="FORCE LINK">FORCE LINK</a>
                    </li>
                    <li class="" style="color: #E488A2;">
                        <a href="https://www.facebook.com/jawaracorpo/" title="ikuti kami https://www.facebook.com/jawaracorpo/">
                            <span class="fa fa-facebook" style="color: white;"></span>
                        </a>&nbsp;&nbsp;&nbsp;
        
                        <a href="https://twitter.com/JawaraCorporat1" title="ikuti kami https://twitter.com/JawaraCorporat1">
                            <i class="fa fa-twitter"></i>
                        </a>&nbsp;&nbsp;&nbsp;
        
                        <a href="https://www.youtube.com/channel/UC2yRbZFK53vtXy7ZL04sDsA/" title="ikuti kami https://www.youtube.com/channel/UC2yRbZFK53vtXy7ZL04sDsA/">
                            <i class="fa fa-youtube" style="color: white;"></i>
                        </a>&nbsp;&nbsp;&nbsp;
        
                    </li>
        
                </ul>
            </div>
            <div class="col-6">
               <i class="fas fa-globe" style="color: white;"></i>
                <a style="font-size: medium; color: white; font-weight: bolder;">Google Map : Office</a><br><br>
                <div class="mbr-map">
                    <a href="https://www.google.com/maps/dir//Perumahan+Pesanggrahan+Pratama,+Jl.+Panglima+Sudirman,+Karangploso,+Girimoyo,+Karangploso,+Malang,+East+Java+65152/@-7.887808,112.60389,52940m/data=!3m1!1e3!4m9!4m8!1m0!1m5!1m1!1s0x2e7881b8fd773fd1:0xd2930e9a3a3546f2!2m2!1d112.5920403!2d-7.8967542!3e0?hl=en-US" title="Klik Peta Kantor pusat Rumah Murah Berkualitas Jawara Corp" target="_blank" rel="nofollow"><img src="https://jawaracorpo.com/assets/images/jawara-corpo-mapping.jpg" alt="jawara-corpo-mapping.jpg" style="width:100%;"></a>
                </div>
            </div>
        </div>
    </div>

    <footer style="align-items: center;">
        <div class="judul-kategori">Kategori
            <!-- <p class="mbr-section-subtitle" style="text-align: center;"></p> -->
        </div><br><br>

        <p class="tulisan-footer" style="text-align:justify!important">        	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Ulasan-Produk/" title="Ulasan Produk">
                                      
						Ulasan Produk <small style="color:#d0d0d0;"> <strong>68</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Tips-dan-Trik/" title="Tips dan Trik">
                                      
						Tips dan Trik <small style="color:#d0d0d0;"> <strong>36</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Teknologi-dan-Dunia-Digital/" title="Teknologi dan Dunia Digital">
                                      
						Teknologi dan Dunia Digital <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Sosial-Budaya/" title="Sosial Budaya">
                                      
						Sosial Budaya <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Seputar-Olahraga/" title="Seputar Olahraga">
                                      
						Seputar Olahraga <small style="color:#d0d0d0;"> <strong>3</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Sepak-Bola/" title="Sepak Bola">
                                      
						Sepak Bola <small style="color:#d0d0d0;"> <strong>12</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Rumah-Murah/" title="Rumah Murah">
                                      
						Rumah Murah <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Rumah-dan-Keluarga/" title="Rumah dan Keluarga">
                                      
						Rumah dan Keluarga <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Ragam-Daftar/" title="Ragam Daftar">
                                      
						Ragam Daftar <small style="color:#d0d0d0;"> <strong>2</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Progres/" title="Progres">
                                      
						Progres <small style="color:#d0d0d0;"> <strong>46</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Perumahan/" title="Perumahan">
                                      
						Perumahan <small style="color:#d0d0d0;"> <strong>4</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Pendidikan/" title="Pendidikan">
                                      
						Pendidikan <small style="color:#d0d0d0;"> <strong>4</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Jawara-Cyber-Partner/" title="Jawara Cyber Partner">
                                      
						Jawara Cyber Partner <small style="color:#d0d0d0;"> <strong>3</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Inspirasi-dan-Motivasi/" title="Inspirasi dan Motivasi">
                                      
						Inspirasi dan Motivasi <small style="color:#d0d0d0;"> <strong>1</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Information/" title="Information">
                                      
						Information <small style="color:#d0d0d0;"> <strong>16</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/General/" title="General">
                                      
						General <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Feng-Shui/" title="Feng Shui">
                                      
						Feng Shui <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Economic-Portal/" title="Economic Portal">
                                      
						Economic Portal <small style="color:#d0d0d0;"> <strong>3</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Desain-Rumah/" title="Desain Rumah">
                                      
						Desain Rumah <small style="color:#d0d0d0;"> <strong>13</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Desain-Interior/" title="Desain Interior">
                                      
						Desain Interior <small style="color:#d0d0d0;"> <strong>102</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Desain-Eksterior/" title="Desain Eksterior">
                                      
						Desain Eksterior <small style="color:#d0d0d0;"> <strong>5</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Berita-Jawara/" title="Berita Jawara">
                                      
						Berita Jawara <small style="color:#d0d0d0;"> <strong>13</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Artikel-Rumah/" title="Artikel Rumah">
                                      
						Artikel Rumah <small style="color:#d0d0d0;"> <strong>158</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori/Agama/" title="Agama">
                                      
						Agama <small style="color:#d0d0d0;"> <strong>4</strong> artikel</small>
                    
                    </a>
	 
                    <a style="padding: 0 10px 0 0;" href="https://jawaracorpo.com/cari-artikel/kategori//" title="">
                                      
						 <small style="color:#d0d0d0;"></small>
                    
                    </a><br><br>
        </p><br><br>
        <!-- <a class="tulisan-copyright">Copyright© Jawara Corporation September - 2017</a>
        <div class="navbar-brand">
            <a href="..index1.html" class="navbar-logo"><img src="https://jawaracorpo.com/assets/images/logo.png" alt="Explore Your System with Us" title="Explore Your System with Us"></a> 
        </div> -->
        <div class="judul-service">Terms of Service
            <!-- <p style="text-align: center;"></p> -->
        </div><br>
        <div class="copyright">
            <a style="margin-left: 370px;">Copyright© Jawara Corporation September - 2017</a>
        </div>
        <div class="navbar-brand">
            <a href="..index1.html" class="navbar-logo">
                <img src="https://jawaracorpo.com/assets/images/logo.png" alt="Explore Your System with Us" title="Explore Your System with Us"></a> 
        </div>
    </footer>
</body>
</html>